* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: sans-serif;
}

.section {
    display: block;
}

.header {
    background-color: #13357b;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;

}

.headerbox1 {
    display: flex;
    /* justify-content: space-between; */


}

.headerbox1 i {
    color: #FFFFFF;
    border: 1px solid #FFFFFF;
    border-radius: 20px;
    padding: 10px;

    margin: 0px 5px 0px 0px;


}

.headerbox2 {
    display: flex;
    align-items: center;
    flex-wrap: wrap;

}

.headerbox2 i,
.text {
    color: #FFFFFF;
    margin: 5px;
    font-size: 16px;
}

.headerbox2 select {
    border: none;
    background: transparent;
}

.section2 {
    min-height: 100vh;
    background-image: url("https://themewagon.github.io/travela/img/carousel-3.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;


}

.header2 {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 0px 20px;
    align-items: center;

    border-bottom: 1px solid rgba(255, 255, 255, .1);





}

.leftbox {

    color: #FFFFFF;

    font-size: 36.88px;

}

.leftbox i {

}

.rightbox {
    
    

}

.rightbox ul {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    color: #FFFFFF;
    font-size: 17px;

}

.rightbox ul li {
    font-size: 20px;
    margin-right: 20px;
    transition: 2s;
}
.rightbox ul li:nth-child(1){
    background-color: #13357b;
    padding: 30px 10px;
}
.rightbox ul li select{
    background: transparent;
    border: none;
    color: #FFFFFF;
    
}
.rightbox ul li button{
    cursor: pointer;
    border: none;
    background-color: #13357b;
    color: #FFFFFF;
    padding: 20px 30px 20px 30px;
    border-radius: 30px;
}


li:hover{
   
    cursor: pointer;
   
    
}
.center{
    display: flex;
    flex-direction: column;
    align-items: center;
    /* border: 1px solid yellow; */
    margin-top: 50px;
    padding: 30px;
    color: #FFFFFF;
    
    
}
.content{
    padding: 30px;
    text-align: center;
    
    
}
.content button{
    color: #FFFFFF;
    background-color: #13357b;
    font-size: 16px;
    padding: 16px 48px;
    border: none;
    border-radius: 30px;
}
